html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

h1, h2, h3{
    text-align: center;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

[class$= "__contenedor"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
